body, html {
   height: 100%;
   width:100%;
   background-image:url(adminstart.jpg); 
   background-repeat:no-repeat;/*we want to have one single image not a repeated one*/  
   background-size:cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}