body{
  padding: 0;
  margin: 0;
}
html {
  font-family: 'Roboto Condensed', sans-serif;
}
#mainnav {
  position: absolute;
  font-family: 'Roboto Condensed', sans-serif;
  z-index: 1;
}
#mainnav li {
  margin: 55px 0;
  left: -550px;
  position: relative;
  display: none;    
}
#mainnav a {
  color: white;   
  text-decoration: none;
  font-size: 1.4em;
}

ul li{
  list-style: none;
  margin-top: -50px;
}

.hamb {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2.5em;
  z-index: 1;
}
.hamb a {
  color: #fff;
  text-decoration: none;
}
html, body, .hero {
  height: 100%;
}
h1 {
  font-size: 5em;
  text-align: center;
  font-weight: 700;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  width: 100%;
  position: absolute;
  top: 42%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#bubble {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  position: fixed;
  display: none;
  z-index: 1;
  background: rgba(0, 0, 0, .5);
}
        
.gap{
  color: white;
  margin-top: 100px;
  width: 200px;
}
        
h1 span{
  font-size: 90px;
  letter-spacing: 4;
  margin-left: -30px;
  color: orange;
}