body, html {
   height: 160%;
   width:100%;
   background-image:url(adminstart.jpg); 
   background-repeat:no-repeat;/*we want to have one single image not a repeated one*/  
   background-size:cover;
}

table,td{
    border-style:double;
    border-width:5px;
    padding:5px;
}

.personality{
    position:absolute;
    top:20%;
    left:10%;
}

.aptitude{
    position:absolute;
    top:20%;
}

.heading{
    background-color:black;
}

.submit {
  background-color: #8B0000;
  color: white;
  padding:14px 20px;
  margin:8px 0;
  width:100%;
  height:10%;
  cursor:pointer;
  text-align:center;
}

button:hover {
    opacity:0.5;
}

label textarea{
        vertical-align:middle;
}
